<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Persona</title>
                        <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesMenu.css">
</head>
<body>
    <div class="menu" style="background-color: darkslategray;">
        <nav class="nav-main">
            <ul class="nav-menu">
              <li>
                <a href="/">Home</a>
              </li>
            <li>
                <a href="http://localhost:3000/personas">Personas</a>
            </li>
            </ul>
        </nav>
      </div>
    <div class="container">
        <h1> Agregando Nueva Persona </h1>
        <form name="formCliente" action="guardar" method="POST">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="dni"> DNI del Cliente: </label>
                        <input type="text" name="dni" class="form-control">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="nombres">Nombres:</label>
                        <input type="text" name = "nombres"class="form-control">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" name = "apellidos"class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="correo">Correo:</label>
                        <input type="email" name = "correo"class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="edad">Edad:</label>
                        <input type="text" name = "edad"class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    
                </div>

            </div>
            <div class="row">
                <div class="col-10">
                    <button class="btn btn-danger" type="submit" style="width: 100%;" > Guardar </button>
                </div>
            </div>
            
        </form>
    </div>
</body>
</html>

