<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto</title>
    <!--=================================STYLES==================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesMenu.css">
    <!--===============================================================================================-->
</head>

<body>
    <div style="background-color: darkslategray; text-align: center; padding: 20px;">
        <h3 style="color: white;">BIENVENIDO</h3>
    </div>
    
    <div class="box" style="margin-top: 30px;">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="./images/personas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Personas</h5>
                      <p class="card-text">Podras visualizar la lista de todas las personas</p>
                      <a href="personas" class="btn btn-danger" style="width: 100%;">Ver Personas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- Footer -->
<footer class="footer" style="background-color:azure;">

    <!-- Footer Links -->
    <div class="container-fluid text-center ">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Ofimática</h5>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Integrantes</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Jhoset Anthony Carrion Acuña</a>
            </li>
            <li>
              <a href="#!">Beto Ronaldo Sencia Gutierrez</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
       
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://mdbootstrap.com/"> Grupo 4 </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</html>

