<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar Personas</title>
  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylesMenu.css">
</head>
<body>  
    <div class="menu" style="background-color: darkslategray;">
        <nav class="nav-main">
            <ul class="nav-menu">
              <li>
                <a href="/">Home</a>
              </li>
            <li>
                <a href="http://localhost:3000/personas">Personas</a>
            </li>
            
            </ul>
        </nav>
      </div>

  <div class="container">
    <a href="personas/crear" class="btn btn-primary" style="margin: 20px 0px ;"> Agregar Persona</a>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">DNI</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Correo</th>
          <th scope="col">Edad</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0 ; i < datos.length;i++){ %>
          <tr>
            <td><%=datos[i].dni%></td>
            <td><%=datos[i].nombres%></td>
            <td><%=datos[i].apellidos%></td>
            <td><%=datos[i].correo%></td>
            <td><%=datos[i].edad%></td>
            <td>
              <a href="personas/editar/<%=datos[i].dni%>">
                Editar
              </a>
              <a href="personas/eliminar/<%=datos[i].dni%>">
                Eliminar
              </a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>
