body{
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  
}
.menu a {
    color: #ffffff;
    text-decoration: none;
  }
  
.menu ul {
    list-style: none;
  }
  
  .container {
    width: 90%;
    margin: auto;
  }
  .box {
    width: 300px;
    margin: 0 auto;
  }
  
  /* Navigation */
  .nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
  }
  
  .nav-brand {
    width: 50px;
  }
  
  /* Navbar Left */
  .nav-main ul {
    display: flex;
  }
  
  .nav-main ul li {
    padding: 10px;
  }
  
  .nav-main ul li a {
    padding: 2px;
  }
  
  .nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
  }
  
  .nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
  }
  
  hr {
    margin: 10px 0;
  }
  footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:150px;
    width:100%;
    background:#999;
 }
  